<figure class="highlight">
  {{- with .Attributes.title }}
  <figcaption class="bg-blue-200 p-2 rounded">
    <span>{{ . | markdownify }}</span>
  </figcaption>
  {{- end }} {{- if transform.CanHighlight .Type }}
  <pre
    tabindex="0"
    class="chroma"
  ><code class="language-{{ .Type }}" data-lang="{{ .Type }}">
      {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
      {{- end -}}
    </code></pre>
  {{- else }}
  <pre
    tabindex="0"
  ><code class="language-{{ .Type }}" data-lang="{{ .Type }}">{{ .Inner }}</code></pre>
  {{- end }}
</figure>
