{{ define "main" }}
<div
  class="container mx-auto p-4 flex flex-col gap-4 min-h-[calc(100vh-8rem)]"
  data-pagefind-ignore
>
  <div class="p-6 rounded-lg">
    <h1 class="text-3xl font-bold mb-6">{{ .Title }}</h1>
    {{ $years := slice }}
    {{ range .Pages }}
      {{ if .Params.date_created }}
        {{ $date := time .Params.date_created }}
        {{ $year := $date.Year }}
        {{ if not (in $years $year) }}
          {{ $years = $years | append $year }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $sortedYears := sort $years }}
    {{ $reversedYears := slice }}
    {{ range $sortedYears }}
      {{ $reversedYears = slice . | append $reversedYears }}
    {{ end }}
    {{ range $reversedYears }}
      {{ $year := . }}
      {{ $yearPages := slice }}
      {{ range $.Pages }}
        {{ if .Params.date_created }}
          {{ $date := time .Params.date_created }}
          {{ if eq $date.Year $year }}
            {{ $yearPages = $yearPages | append . }}
          {{ end }}
        {{ end }}
      {{ end }}
    <div class="mb-8">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-200">{{ $year }}</h2>
      <div class="grid gap-4 pl-4">
        {{ range sort $yearPages ".Params.date_created" "desc" }}
        <div class="group hover:text-white">
          <a
            href="{{ .RelPermalink }}"
            class="block p-4 bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-1 hover:shadow-lg hover:bg-gray-800 dark:hover:bg-gray-700 transition-all duration-200"
          >
            <h3 class="text-lg font-medium mb-2 text-gray-900 dark:text-gray-100">{{ .Title }}</h3>
            <p class="text-sm opacity-75 text-gray-600 dark:text-gray-300">{{ (time .Params.date_created).Format "January 2006" }}</p>
            {{ with .Description }}
            <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">{{ . }}</p>
            {{ end }} {{ with .Params.competencies }}
            <div class="mt-2 flex flex-wrap gap-2">
              {{ range . }}
              <span
                class="px-2 py-1 text-xs rounded bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 group-hover:bg-emerald-500 group-hover:text-emerald-50 transition-colors duration-200"
              >
                {{ . }}
              </span>
              {{ end }}
            </div>
            {{ end }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
