<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/darkMode.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            typography: {
              DEFAULT: {
                css: {
                  maxWidth: 'none',
                  h1: {
                    marginTop: '1rem',
                    marginBottom: '1rem',
                  },
                  h2: {
                    marginTop: '1em',
                    marginBottom: '0.5rem',
                  },
                  h3: {
                    marginTop: '1rem',
                    marginBottom: '0.75rem',
                  },
                  h4: {
                    marginTop: '0.875rem',
                    marginBottom: '0.5rem',
                  },
                  'code::before': {
                    content: '""', // Removes the backtick
                  },
                  'code::after': {
                    content: '""', // Removes the backtick
                  },
                },
              },
              dark: {
                css: {
                  color: '#f3f4f6',
                  a: {
                    color: '#10b981',
                  },
                  h1: {
                    color: '#f3f4f6',
                  },
                  h2: {
                    color: '#f3f4f6',
                  },
                  h3: {
                    color: '#f3f4f6',
                  },
                  h4: {
                    color: '#f3f4f6',
                  },
                  strong: {
                    color: '#f3f4f6',
                  },
                  code: {
                    color: '#f3f4f6',
                  },
                  blockquote: {
                    color: '#d1d5db',
                  },
                },
              },
            },
          },
        },
      }
    </script>
    {{ if true }} {{ $style := resources.Get "css/syntax.css" | resources.Minify
    }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ end }} {{ if .Param "math" }} {{ partialCached "math.html" . }} {{ end }}
    <title data-pagefind-meta="title">{{.Title}}</title>
    <script
      defer
      data-domain="datasciencesouth.com"
      src="https://plausible.io/js/script.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          ;(window.plausible.q = window.plausible.q || []).push(arguments)
        }
    </script>
  </head>
  <body
    class="font-sans leading-normal bg-white dark:bg-gray-800 dark:text-white transition-colors duration-200 dark:transition-none"
  >
    <header class="bg-gray-800 sticky top-0 z-50 p-1 pt-2">
      <div class="container mx-auto flex justify-between items-center">
        <a
          href="/"
          class="group inline-flex items-center pl-0 pr-3 py-0 rounded-lg hover:bg-emerald-500 hover:text-emerald-50 hover:-translate-y-1 hover:shadow-lg transition-all duration-200"
        >
          <img src="/logos/light.svg" alt="Site Logo" width="50" height="50" />
          <h1
            class="text-xl font-bold text-white ml-2 group-hover:text-emerald-50"
          >
            {{ .Site.Title }}
          </h1>
        </a>
        <div class="flex items-center space-x-4">
          <button
            id="darkModeToggle"
            class="text-white p-2 rounded-lg hover:bg-emerald-500 hover:text-emerald-50 hover:-translate-y-1 hover:shadow-lg transition-all duration-200"
            aria-label="Toggle Dark Mode"
          >
            <!-1 - sun icon (for dark mode) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 hidden dark:block"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
              />
            </svg>
            <!-1 - moon icon (for light mode) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 block dark:hidden"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              />
            </svg>
          </button>
          <a
            href="/competencies/"
            class="hidden sm:block text-white font-semibold px-4 py-2 rounded-lg hover:bg-emerald-500 hover:text-emerald-50 hover:-translate-y-1 hover:shadow-lg transition-all duration-200"
          >
            Competencies
          </a>
          <a
            href="https://github.com/ADGEfficiency/data-science-south"
            target="_blank"
            rel="noopener noreferrer"
            class="hidden sm:block text-white p-2 rounded-lg hover:bg-emerald-500 hover:text-emerald-50 hover:-translate-y-1 hover:shadow-lg transition-all duration-200"
            aria-label="GitHub Repository"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </header>
    {{ block "main" . }}{{ end }}
  </body>
</html>
